body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  background: url('assets/freedom.jpg') no-repeat center center fixed;
  background-size: cover;
}
section {
  margin: 0 auto;
  text-align: center;
  margin-top: 90px;
}
blockquote {
  letter-spacing: .02em;
  line-height: 1.5;
  font-size: 1.7em;
  text-transform: uppercase;
  font-family: "Yu Gothic UI Light";
}
#Name {
  font-style: oblique;
}
