* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}
body {
  background: url('assets/freedom.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
section {
  margin: 0 auto;
  text-align: center;
  color: black;
  text-shadow: 2px 2px 4px #000000;
  margin-top: 3rem;
}
blockquote {
  letter-spacing: .02rem;
  line-height: 1.5;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-family: "Yu Gothic UI Light";
  padding: 2.5rem;
}
#Name {
  font-style: oblique;
}
ul {
  list-style: none;
  padding: 0;
  text-align: center;
}
li {
  display: inline;
}
img {
  height: 2rem;
  width: auto;
  opacity: 75%;
  border-radius: 50%;
  padding: 1px;
  background-color: #666;
}
img:hover {
  transform: scale(1.2);
}
ul {
  position: relative;
  top: 12rem;
}
